<div class="row">
          <div class="col s12 l6 m6">
            <div class="card z-depth-1" >
            	<div id="me-img">
             <%= image_tag("me.jpg", :class=>"circle", :width=>"150px", :height=>"150px")%>
         </div> 
              <div class="card-content black-text">
                <span class="card-title"><h4>Shlok Srivastava</h4></span>
              </div>
              <div class="card-action center">
                <a href="#">Contact Me</a>
              </div>
            </div>
          </div>
<%x=Post.count%>
<%while x!=0%>
          <div class="col s12 l6 m6">
            <div class="card z-depth-1" >
              <div class="card-content black-text">
                <span class="card-title"><h5><%=Post.find(x).title%></h5></span>
              </div>
              <div class="card-action center">
                <a  href="../posts/<%=x%>">Read More</a>
              </div>
            </div>
        <%x-=1%>
      </div>
        <%end%>
      </div>